@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins';
  text-decoration: none;
  list-style: none;
}

.nao-selecionavel, #nao-selecionavel {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  background-color: #6894A6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  max-width: 100%;
  height: 96px;
  padding: 0 15px;

  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#header-titulo {
  letter-spacing: 2.5px;
  font-weight: 900;
  color: #23556E;
}

#header-titulo-nome {
  color: #7CCCCB;
  font-weight: 900;
}

#hambuguer {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

#hambuguer:hover {
  transform: scale(1.2);
  transition: .1s;
}

#hambuguer:active {
  transform: scale(1);
  transition: .1s;
}

#nav {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: white;
  top: 96px;
  right: 0;
  height: calc(100vh - 96px);
  width: 0px;
  transition: .6s;
  z-index: 1000;
  visibility: hidden;
  overflow-x: hidden;
}

#nav.active {
  visibility: visible;
  overflow-x: auto;
  width: 50vh;
}

#menu li {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  margin: 2rem 0;
}

#pag {
  position: absolute;
  background-color: rgb(255, 193, 96);
  width: 100%;
  z-index: -1;
  margin: -12px;
  cursor: pointer;
}

.tabs {
  font-family: 'Poppins', Helvetica;
  font-weight: 400;
  font-size: 20px;
  color: #23556E;
}

main {
  display: block;

  background-color: #49798C;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  max-width: calc(100% - (1.5rem*2));
  height: calc(100vh - (3rem + 96px));
  margin: 1.5rem;
}

article {
  padding: 2rem;
  text-align: justify;
}

p {
  color: white;
  font-size: 23px;
  letter-spacing: 1.5px;
}

#texto-inicial {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  text-align-last: center;
}

#informacoes {
  max-width: 900px;
  margin: 40px auto;
}

#subtitulo {
  color: #F29422;
  background-color: white;
  border-radius: 10px;

  max-width: fit-content;
  margin: 0 auto;
  padding: 6px;

  white-space: nowrap;
}

#informacoes-texto {
  margin: .5rem;
}

@media screen and (min-width: 1025px) {
  main {
    max-width: 1024px;
    margin: 1.5rem auto;
  }
}

@media screen and (max-width: 425px) {
  p {
    font-size: 19px;
  }
  
  #subtitulo {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  main {
    max-width: calc(100% - 2rem);
    height: calc(100vh - (50px + 2rem));
    margin: 1rem;
  }

  article {
    padding: 1rem;
  }

  p {
    font-size: 15px;
  }

  #subtitulo {
    font-size: 16px
  }

  header {
    height: 50px;
  }

  #nav {
    top: 50px;
    height: calc(100% - 50px);
  }

  .tabs {
    font-size: 15px;
  }

  #hambuguer {
    width: 32px;
    height: 32px;
  }

  #header-titulo {
    font-size: 24px;
  }
}